#rain-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: rotate(15deg);
}

i.meteor {
  position: absolute;
  height: 160px;
  background: linear-gradient(transparent, rgb(255 255 255 / 0.4));
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transform: rotate(15deg);
  animation: raining 5s linear Infinite;
}
@-moz-keyframes raining {
  0% {
    transform: translateY(-160px);
  }
  100% {
    transform: translateY(calc(100vh + 160px));
  }
}
@-webkit-keyframes raining {
  0% {
    transform: translateY(-160px);
  }
  100% {
    transform: translateY(calc(100vh + 160px));
  }
}
@-o-keyframes raining {
  0% {
    transform: translateY(-160px);
  }
  100% {
    transform: translateY(calc(100vh + 160px));
  }
}
@keyframes raining {
  0% {
    transform: translateY(-160px);
  }
  100% {
    transform: translateY(calc(100vh + 160px));
  }
}