@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	font-size: 1em;
}

body {
	height: 100vh;
	background: linear-gradient(320deg, #f27121, #e94057, #8a2387);
}

.clickable {
	cursor: pointer;
}

.editable {
  border-bottom: 1px dashed black;
}

.container {
	margin: 100px auto 20px;
	width: 30vw;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}

.todo-input {
	padding: 20px;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	display: flex;
	justify-content: center;
}

#todo-input-form {
	width: 100%;
	display: flex;
	column-gap: 20px;
}

#todo-input-form input {
	padding: 10px 15px;
	flex-grow: 1;
	border-radius: 5px;
}

#todo-input-form input:focus {
	border: none;
  outline: none;
}

.btn-submit {
	padding: 10px 15px;
	border-radius: 5px;
}

.todo-items {
	display: flex;
	flex-direction: column;
}

.todo-items article {
	padding: 10px 10px 10px 15px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.todo-items article:first-child {
  margin-top: 16px;
}

.todo-items article:last-child {
  margin-bottom: 16px;
}

.todo-items article:hover {
	background-color: bisque;
  transform: scale(1.05);
}

.todo-items .item-value {
  flex-grow: 1;
}

.todo-items .item-value:focus {
  outline: none;
}
.todo-items .action-icons {
  display: flex;
  column-gap: 8px;
  align-items: center;
}
.todo-items .action-icons.set-1 {
  visibility: hidden;
}

.todo-items .action-icons.set-2 {
  display: none;
  visibility: visible;
}

.todo-items article:hover .action-icons.set-1 {
  visibility: visible;
}
