@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
	--primary-font: "Manrope", sans-serif;
	--secondary-font: "Quicksand", serif;
	--secondary-font-weight: 600;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: var(--primary-font);
	font-size: 1em;
}

body {
	position: relative;
	min-height: 100vh;
	background: linear-gradient(320deg, #f27121, #e94057, #8a2387);
	padding: 30px 0 100px;
	font-weight: 600;
}

/* CSS starts for meteor rain effect  */

#rain-bg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform: rotate(15deg);
}

i.meteor {
	position: absolute;
	height: 160px;
	background: linear-gradient(transparent, rgb(255 255 255 / 0.4));
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	transform: rotate(15deg);
	animation: raining 5s linear Infinite;
}
@-moz-keyframes raining {
	0% {
		transform: translateY(-160px);
	}
	100% {
		transform: translateY(calc(100vh + 160px));
	}
}
@-webkit-keyframes raining {
	0% {
		transform: translateY(-160px);
	}
	100% {
		transform: translateY(calc(100vh + 160px));
	}
}
@-o-keyframes raining {
	0% {
		transform: translateY(-160px);
	}
	100% {
		transform: translateY(calc(100vh + 160px));
	}
}
@keyframes raining {
	0% {
		transform: translateY(-160px);
	}
	100% {
		transform: translateY(calc(100vh + 160px));
	}
}

/* CSS ends for meteor rain effect  */

.clickable {
	cursor: pointer;
}

.editable {
	border-bottom: 1px dashed black !important;
}

.backdrop {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgb(0 0 0 / 0.5);
	backdrop-filter: blur(1px);
	visibility: hidden;
	transition: all 0.3s ease;
}

.alert {
	position: fixed;
	top: -25%;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 14px;
	padding: 15px 20px;
	background-color: aqua;
	background-image: linear-gradient(
		135deg,
		#69ff97 10%,
		#00e4ff 51%,
		#69ff97 100%
	);
	background-size: 200%;
	width: max-content;
	transition: all 0.3s ease-in-out;
	animation: gradient 1s infinite cubic-bezier(0.62, 0.28, 0.23, 0.99) both;
}

header {
	font-size: 3em;
	text-align: center;
	width: 500px;
	margin: 0 auto 30px;
}

header #title {
	font-weight: bold;
	border-bottom: 1px solid black;
}

header #day-date {
	display: flex;
	align-items: center;
	column-gap: 5px;
}

header #date-time {
	display: flex;
	justify-content: space-between;
	font-weight: 400;
	font-size: 22px;
	margin-top: 5px;
}

header #time-now {
	display: flex;
	align-items: center;
	column-gap: 5px;
}

header #time-now span:last-child {
	font-size: small;
	position: relative;
	top: -7px;
}

.bi.header {
	background: linear-gradient(
		to right,
		#d6a4a4,
		#dae2f8
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-size: 100%;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}

.container {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 450px;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 16px;
	overflow: hidden;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(1px);
	-webkit-backdrop-filter: blur(1px);
	border: 2px solid rgba(255, 255, 255, 0.3);
}

section:nth-child(2):not(:has(ul)) {
	min-height: 130px;
}

.todo-input {
	padding: 20px;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 14px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	display: flex;
	justify-content: center;
}

#todo-input-form {
	width: 100%;
	display: flex;
	/* column-gap: 20px; */
}

#todo-input-form input {
	padding: 10px 15px;
	flex-grow: 1;
	border-radius: 10px;
	border: none;
	outline: none;
	transition: 0.2s all;
}

#todo-input-form input:focus {
	border: none;
	outline: none;
	box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px inset;
}

#todo-input-form input::placeholder {
	color: darkgray;
}

.btn-submit {
	position: relative;
	background-image: linear-gradient(
		to right,
		#dc2430 0%,
		#780206 41%,
		#061161 80%
	);
	background-size: 800% 400%;
	padding: 10px 25px;
	display: inline-block;
	border: none;
	border-radius: 0 10px 10px 0;
	color: white;
	transition: all 0.3s ease-in-out;
	animation: gradient 10s infinite cubic-bezier(0.62, 0.28, 0.23, 0.99) both;
}

.btn-submit::before {
	position: absolute;
	content: "";
	width: 20px;
	height: 20px;
	background-image: linear-gradient(
		to right,
		#dc2430 0%,
		#780206 41%,
		#061161 80%
	);
	background-size: 800% 400%;
	top: 0;
	left: -10px;
	z-index: -1;
	animation: gradient 10s infinite cubic-bezier(0.62, 0.28, 0.23, 0.99) both;
}

.btn-submit::after {
	position: absolute;
	content: "";
	width: 20px;
	height: 20px;
	background-image: linear-gradient(
		to right,
		#dc2430 0%,
		#780206 41%,
		#061161 80%
	);
	background-size: 800% 400%;
	bottom: 0;
	left: -10px;
	z-index: -1;
	animation: gradient 10s infinite cubic-bezier(0.62, 0.28, 0.23, 0.99) both;
}

.btn-submit:hover,
.btn-submit:hover::before,
.btn-submit:hover::after {
	animation: gradient 3s infinite;
}

.btn-submit:active {
	animation: gradient 0.3s infinite;
	transform: scale(0.8);
}

.btn-submit:focus-visible {
	outline: none;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

#filter-action-row {
	position: relative;
	padding: 10px;
	display: none;
	justify-content: space-between;
	align-items: center;
	margin-top: 16px;
}

ul.todo-items {
	list-style-type: none;
	position: relative;
}

ul.todo-items > li {
	padding: 10px 10px 10px 15px;
	display: flex;
	align-items: center;
	column-gap: 10px;
	border-radius: 14px;
	transition: all 0.3s ease-in-out;
}

ul.todo-items > li:only-child {
	min-height: 85px;
}

ul.todo-items > li:not(#no-match-found):hover {
	background-color: bisque;
}

.search {
	position: relative;
}

.search-icon {
	position: absolute;
	top: calc(50%);
	left: 10px;
	transform: translateY(-50%);
}

.search-icon {
	font-size: 13px;
	transition: all 0.3s;
}

#no-match-found {
	justify-content: center;
}

#no-match-found i {
	color: orangered;
}

.filter-btn,
#search {
	font-size: small;
	padding: 4px 10px;
	border-radius: 8px;
	border: 1px solid black;
	white-space: nowrap;
	outline: none;
}

.filter-btn {
	background-image: linear-gradient(
		to right,
		#f5f7fa 0%,
		#c3cfe2 51%,
		#f5f7fa 100%
	);
	text-decoration: none;
	text-align: center;
	background-size: 200% auto;
	transition: 0.3s;
}

.filter-btn.active {
	color: white;
	background-image: linear-gradient(
		to right,
		#ee0979 0%,
		#ff6a00 51%,
		#ee0979 100%
	);
	font-weight: 500;
}
.filter-btn:hover {
	background-position: right center; /* change the direction of the change here */
}

#search {
	max-width: 202px;
	border-color: white;
	padding-left: 28px;
	transition: all 0.3s ease;
}

#search::placeholder {
	color: darkgray;
	font-weight: 100;
}
#search:focus::placeholder {
	color: gray;
}

#search:focus {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#search:focus + .search-icon i {
	font-size: 14px;
}

#more-btn {
	width: 22px;
	height: 22px;
	background-color: transparent;
	border: 1px solid transparent;
	text-align: center;
	overflow: visible;
	outline: none;
	position: relative;
	transition: all 0.3s ease;
}

#more-btn i::before {
	position: absolute;
	font-size: 24px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#more-opt {
	position: absolute;
	top: 45px;
	right: -200px;
	background-image: linear-gradient(
		-220deg,
		#ddd6f3 0%,
		#faaca8 100%,
		#faaca8 100%
	);
	font-size: small;
	border-radius: 10px 0 10px 10px;
	z-index: 99;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
	transition: all 0.2s ease-in-out;
}
#more-btn.open + #more-opt {
	right: 12px;
}

#more-opt-list {
	list-style-type: none;
	padding: 5px 0;
}

#more-opt-list > li {
	padding: 0 5px;
	margin: 0 5px;
	border-radius: 7px 0 7px 7px;
}

#more-opt-list hr {
	width: 94%;
	margin: auto;
}

#more-opt-list > li:nth-child(2) {
	margin-bottom: 4px;
}

#more-opt-list > li:last-child {
	margin-top: 3px;
}

#more-opt-list > li:hover {
	background: linear-gradient(320deg, #f27121, #e94057, #8a2387);
	color: white;
}

#more-opt-list li.disabled {
	cursor: not-allowed;
	color: darkgray;
	background: transparent;
}

ul.todo-items .toggle {
	background-image: linear-gradient(to right, #33001b, #ff0084);
	background-size: 200% auto;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}

ul.todo-items .item-wrap {
	flex-grow: 1;
}

ul.todo-items .item-value {
	flex-grow: 1;
	border-bottom: 1px solid transparent;
}

ul.todo-items .item-value:focus {
	outline: none;
}

ul.todo-items .item-value.done {
	color: gray;
	text-decoration: line-through;
}

ul.todo-items .item-datetimestamp {
	font-family: var(--secondary-font);
	font-weight: var(--secondary-font-weight);
	font-size: small;
	color: darkslategray;
}

ul.todo-items .item-datetimestamp.done {
	text-decoration: line-through;
}

ul.todo-items .action-icons {
	display: flex;
	align-items: center;
	column-gap: 8px;
}

ul.todo-items .action-icons.set-1 {
	visibility: hidden;
}

ul.todo-items .action-icons.set-2 {
	display: none;
	visibility: visible;
}

ul.todo-items > li:hover .action-icons.set-1 {
	visibility: visible;
}

footer {
	height: 100px;
	line-height: 100px;
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: small;
}

footer a {
	color: initial;
}
